/* CSS HEX */
:root{
--charleston-green: #152528ff;
--midnight-green-eagle-green: #08485eff;
--pacific-blue: #3cb0cdff;
--sky-blue: #7cd5f3ff;
--non-photo-blue: #b4e7f8ff;
--mint-green: #adffbcff;
--medium-spring-green: #1bee9aff;
--emerald: #21c063ff;
--slimy-green: #229631ff;
--lincoln-green: #0c5a23ff;
}


.title  { 
    background-image: url('./AdobeStock_274219327.jpg')!important;
    height:300px ;
    background-size: 100% auto;
}